@media screen and (max-width: 768px) {
  body{
    width: auto;
    overflow-x: hidden;
  }
  .intro p {
      font-size: 1.5em;
  }

  .nav {
      flex-direction: column;
  }

  .link-nav {
      margin: 5px 0;
  }

  .Icon-side {
    position: fixed;
    flex-direction: row;
    bottom: 15px;
    top: auto;
    right:60px;
    transform: translateX(-50%);
    border-radius: 20px;
    padding: 10px;
  }

  .Menü-icon-Round {
      margin: 0 10px;
      bottom: 15px;
      top: auto;
      right: 70px;
  }

  .Links-Menü img {
      width: 25px;
      height: 25px;
  }

  .erk, .erk-first {
      text-align: center;
  }

  .erk img {
      width: 100%;
  }

  .timeline::after {
      left: 30px;
  }

  .container {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
  }

  .container.left::before,
  .container.right::before {
      left: 60px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
  }

  .left, .right {
      left: 0;
  }

  .dienstleistungen {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .dienstleistung {
      margin-bottom: 20px;
      text-align: center;
  }
  .Bot{
    display: none;
  }
}